header {
  background: #BBBBBB;
  padding: 20px 0;
}

h1 {
  font-size: 32px;
}

.caixa {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: rgb(255, 255, 0);
}

.produtos {
  width: 940px;
  margin: 0 auto;
  padding: 40px;
}

.produtos li {
  display: inline-block;
  width: 30%;
  text-align: center;
  vertical-align: top;
  border: 3px solid #000;  
  box-sizing: border-box;
  padding: 30px 20px;
  margin: 0 1.5%;
  border-radius: 10px;
  height: 420px;
}

.produtos li:hover {
  border-color: rgb(2, 9, 138);
  border-width: 4px;
}

.produtos li:hover .produto-preco{
  color: red;
}

.produtos li:active {
  border-color: green;
}
.produtos h2 {
  font-size: 30px;
  font-weight: bold;
}

.produto-descricao {
  font-size: 18px;
}

.produto-preco {
  font-size: 22px;
  font-weight: bold;
  margin-top: 10px;
}

footer {
  background-color: #000;
  color: white; 
  padding: 20px 0; 
}

.footer-logo {
  display: inline-block;
  width: 75%;  
}

.footer-logo p {
  margin-bottom: 8px;
}

.footer-info {
  display: inline-block;
  vertical-align: top;
  border: 2px solid white;
  border-radius: 12px;
  margin-top: 50px;  
  padding: 20px 15px;
}

.footer-info li {
  padding: 15px;
}

main {
  width: 940px;
  margin: 0 auto;
}

main.contato {
  padding: 15px 0;
}

form {
  margin: 40px 0;
}

form label, p {
  display: block;
  font-size: 20px;
  margin: 0 0 10px;
}

.input-padrao {
  display: block;
  margin: 0 0 20px; 
  padding: 10px 25px;
  width: 50%;
  font-weight: bold;
}

.checkbox {
  margin: 20px 0;
}

.tipo-contato input {
  margin-right: 10px;
}

